spring:
  application:
    name: content-service
  datasource:
    url: jdbc:mysql://localhost:3308/lxp_content?sslMode=DISABLED&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: lxp
    password: lxp
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: lxp
    password: lxp

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true